.h1{
    margin-left: 20px;
}
.text{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: chocolate;
    margin-left: 20px;
}